<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href='style.css' />
      <p class="enter">Enter your document:</p> 
   </head>
   <body>
      <h3>
         <p>Introduction: </p>
         <p>Topic modeling is one of the popular methods among text mining techniques used to discover hidden topics. The massive amount of biomedical text data can be a valuable source of knowledge for biomedical research. Therefore, there is a need to produce efficient topic modeling techniques to discover hidden topics in complex biomedical texts. </p>
      </h3>
      <form action="/articles" method="post">
         <p><textarea class="new_doc" type="text" placeholder="Enter your document" name="nm"></textarea></p>
         <p><input type="submit" class="submit" value="submit"></p>
      </form>
      {% if topic %}
          <p>The topic is: {{ topic }}</p>
      {% endif %}
   </body>
</html>